<body bgcolor="#FFFFCC">
<h1>Hello Welcome!</h1>

<p style="font-family:verdana;color:red">
Now is <%= @time.localtime %>
</p>


<p>
<a href="http://www.gucas.ac.cn"  mce_href="http://www.gucas.ac.cn">国科大主页</a>
</p>

<p>
 Say,<a href="/say/goodbye" mce_href="say/goodbye">goodbye</a>!  
</p>
